@font-face {
    font-family: 'AdobeGaramond';
    src: url("../fonts/adobe-garamond-pro/Adobe-Garamond-Pro-Bold-Italic_2007.ttf") format("truetype"), url("../fonts/adobe-garamond-pro/Adobe-Garamond-Pro-Bold_2008.ttf") format("truetype"), url("../fonts/adobe-garamond-pro/Adobe-Garamond-Pro-Italic_2009.ttf") format("truetype"), url("../fonts/adobe-garamond-pro/Adobe-Garamond-Pro-Semibold-Italic_2010.ttf") format("truetype"), url("../fonts/adobe-garamond-pro/Adobe-Garamond-Pro-Semibold_2011.ttf") format("truetype"), url("../fonts/adobe-garamond-pro/Adobe-Garamond-Pro_2012.ttf") format("truetype");
}

body {
    margin: 0;
    border: 0;
    background-position-x: -18em;
    background-image: url("../images/capstoneLandingPage1x.jpg");
}

nav {
    width: 100%;
    height: 3em;
    background-color: black;
    position: fixed;
}

.navSignIn {
    cursor: pointer;
    font-weight: bold;
    border-radius: 7px;
    border: 2px solid black;
    border: none;
    width: 5em;
    height: 2em;
    background-color: #00CC33;
    -webkit-transition: background 0.5s linear, color 0.5s linear;
    -moz-transition: background 0.5s linear, color 0.5s linear;
    -o-transition: background 0.5s linear, color 0.5s linear;
    transition: background 0.5s linear, color 0.5s linear;
}

.navSignIn:hover {
    background-color: white;
    color: green;
}

h1 {
    margin: 0 auto;
    color: white;
    font-family: 'Adobe-Garamond-Pro-Semibold_2011';
    padding-top: 6em;
    letter-spacing: 0.02em;
    font-size: 2.25em;
    width: 10em;
    text-align: center;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
}

ul {
    padding-top: 0.5em;
    margin: 0;
    float: right;
    margin-right: 1em;
}

li {
    cursor: pointer;
    padding-left: 0.25em;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    color: #838994;
    list-style-type: none;
}

.centerContainer {
    margin: 6em auto;
    width: 10.5em;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4em;
        padding-top: 3.5em;
    }
    .centerContainer {
        width: 18em;
    }
}

@media (min-width: 1024px) {
    body {
        background-position-x: 5em;
    }
    h1 {
        font-size: 5em;
        padding-top: 2.5em;
    }
    .centerContainer {
        width: 22em;
    }
}
